## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
#  Import and read the charity_data.csv.
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(['EIN'], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# check the count of STATUS count
status_counts = application_df['STATUS'].value_counts()
status_counts

1    34294
0        5
Name: STATUS, dtype: int64

In [6]:
# check the count of SPECIAL_CONSIDERATIONS
special_consideration_counts = application_df['SPECIAL_CONSIDERATIONS'].value_counts()
special_consideration_counts

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [7]:
application_df = application_df.drop(['STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1-9999,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1
...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,0,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,0,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,0,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,0,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1M-5M,36500179,0

In [8]:
# Check the count of NAME value
name_counts = application_df['NAME'].value_counts()
name_counts[name_counts > 5]

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: NAME, Length: 354, dtype: int64

In [9]:
# Choose a cutoff value and create a list of name to be replaced
names_to_replace = list(name_counts[name_counts <= 5].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [10]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 1000].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, "Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
classifications_counts = application_df['CLASSIFICATION'].value_counts()
classifications_counts[classifications_counts > 100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts > 1
classifications_counts[classifications_counts > 100]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classifications_counts[classifications_counts <= 700].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [15]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummy_df = pd.get_dummies(application_df)
application_dummy_df

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,108590,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,6692,1,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
4,142590,1,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34295,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34296,5000,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34297,5000,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
34298,36500179,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [16]:
# Split our preprocessed data into our features and target arrays
X = application_dummy_df.drop(['IS_SUCCESSFUL'], axis=1).values
y = application_dummy_df['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=80)

In [17]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [18]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
num_of_features = len(X_train[0])
hidden_layer_1_units = 100
hidden_layer_2_units = 50
hidden_layer_3_units = 30
hidden_layer_4_units = 10

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_1_units, activation="relu", input_dim=num_of_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_2_units, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_3_units, activation="sigmoid"))

# Fourth hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_layer_4_units, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               39400

 dense_1 (Dense)             (None, 50)                5050

 dense_2 (Dense)             (None, 30)                1530

 dense_3 (Dense)             (None, 10)                310

 dense_4 (Dense)             (None, 1)                 11

=================================================================
Total params: 46,301
Trainable params: 46,301
Non-trainable params: 0
_________________________________________________________________

2022-04-18 23:40:33.817956: I tensorflow/core/platform/cpu_feature_guard.cc:151] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 964us/step - loss: 0.5261 - accuracy: 0.7583
Epoch 2/100
804/804 [==============================] - 1s 955us/step - loss: 0.4506 - accuracy: 0.7926
Epoch 3/100
804/804 [==============================] - 1s 954us/step - loss: 0.4390 - accuracy: 0.7948
Epoch 4/100
804/804 [==============================] - 1s 959us/step - loss: 0.4328 - accuracy: 0.7965
Epoch 5/100
804/804 [==============================] - 1s 982us/step - loss: 0.4297 - accuracy: 0.7977
Epoch 6/100
804/804 [==============================] - 1s 944us/step - loss: 0.4266 - accuracy: 0.7980
Epoch 7/100
804/804 [==============================] - 1s 955us/step - loss: 0.4260 - accuracy: 0.7973
Epoch 8/100
804/804 [==============================] - 1s 976us/step - loss: 0.4239 - accuracy: 0.7982
Epoch 9/100
804/804 [==============================] - 1s 963us/step - loss: 0.4225 - accuracy: 0.7986
Epoch 10/100
804/804 [==============================] - 1s 958us/step - loss: 0.4224 - accuracy: 0.7987
Epoch 11/100
804/804 [==============================] - 1s 958us/step - loss: 0.4208 - accuracy: 0.7995
Epoch 12/100
804/804 [==============================] - 1s 959us/step - loss: 0.4208 - accuracy: 0.7994
Epoch 13/100
804/804 [==============================] - 1s 953us/step - loss: 0.4198 - accuracy: 0.8008
Epoch 14/100
804/804 [==============================] - 1s 957us/step - loss: 0.4192 - accuracy: 0.7992
Epoch 15/100
804/804 [==============================] - 1s 960us/step - loss: 0.4180 - accuracy: 0.7997
Epoch 16/100
804/804 [==============================] - 1s 957us/step - loss: 0.4174 - accuracy: 0.8007
Epoch 17/100
804/804 [==============================] - 1s 971us/step - loss: 0.4169 - accuracy: 0.8019
Epoch 18/100
804/804 [==============================] - 1s 955us/step - loss: 0.4164 - accuracy: 0.8006
Epoch 19/100
804/804 [==============================] - 1s 954us/step - loss: 0.4159 - accuracy: 0.8016
Epoch 20/100
804/804 [==============================] - 1s 973us/step - loss: 0.4152 - accuracy: 0.8021
Epoch 21/100
804/804 [==============================] - 1s 963us/step - loss: 0.4150 - accuracy: 0.8023
Epoch 22/100
804/804 [==============================] - 1s 959us/step - loss: 0.4145 - accuracy: 0.8026
Epoch 23/100
804/804 [==============================] - 1s 955us/step - loss: 0.4138 - accuracy: 0.8025
Epoch 24/100
804/804 [==============================] - 1s 978us/step - loss: 0.4135 - accuracy: 0.8024
Epoch 25/100
804/804 [==============================] - 1s 974us/step - loss: 0.4133 - accuracy: 0.8020
Epoch 26/100
804/804 [==============================] - 1s 978us/step - loss: 0.4126 - accuracy: 0.8033
Epoch 27/100
804/804 [==============================] - 1s 977us/step - loss: 0.4126 - accuracy: 0.8030
Epoch 28/100
804/804 [==============================] - 1s 977us/step - loss: 0.4118 - accuracy: 0.8043
Epoch 29/100
804/804 [==============================] - 1s 973us/step - loss: 0.4116 - accuracy: 0.8038
Epoch 30/100
804/804 [==============================] - 1s 981us/step - loss: 0.4112 - accuracy: 0.8027
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4111 - accuracy: 0.8037
Epoch 32/100
804/804 [==============================] - 1s 953us/step - loss: 0.4103 - accuracy: 0.8037
Epoch 33/100
804/804 [==============================] - 1s 978us/step - loss: 0.4100 - accuracy: 0.8041
Epoch 34/100
804/804 [==============================] - 1s 988us/step - loss: 0.4099 - accuracy: 0.8040
Epoch 35/100
804/804 [==============================] - 1s 969us/step - loss: 0.4095 - accuracy: 0.8043
Epoch 36/100
804/804 [==============================] - 1s 981us/step - loss: 0.4091 - accuracy: 0.8046
Epoch 37/100
804/804 [==============================] - 1s 1000us/step - loss: 0.4090 - accuracy: 0.8043
Epoch 38/100
804/804 [==============================] - 1s 977us/step - loss: 0.4091 - accuracy: 0.8039
Epoch 39/100
804/804 [==============================] - 1s 988us/step - loss: 0.4083 - accuracy: 0.8046
Epoch 40/100
804/804 [==============================] - 1s 973us/step - loss: 0.4083 - accuracy: 0.8048
Epoch 41/100
804/804 [==============================] - 1s 952us/step - loss: 0.4078 - accuracy: 0.8053
Epoch 42/100
804/804 [==============================] - 1s 992us/step - loss: 0.4075 - accuracy: 0.8043
Epoch 43/100
804/804 [==============================] - 1s 993us/step - loss: 0.4070 - accuracy: 0.8051
Epoch 44/100
804/804 [==============================] - 1s 990us/step - loss: 0.4077 - accuracy: 0.8052
Epoch 45/100
804/804 [==============================] - 1s 986us/step - loss: 0.4069 - accuracy: 0.8052
Epoch 46/100
804/804 [==============================] - 1s 995us/step - loss: 0.4072 - accuracy: 0.8051
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4068 - accuracy: 0.8054
Epoch 48/100
804/804 [==============================] - 1s 960us/step - loss: 0.4060 - accuracy: 0.8046
Epoch 49/100
804/804 [==============================] - 1s 976us/step - loss: 0.4068 - accuracy: 0.8051
Epoch 50/100
804/804 [==============================] - 1s 985us/step - loss: 0.4058 - accuracy: 0.8055
Epoch 51/100
804/804 [==============================] - 1s 995us/step - loss: 0.4055 - accuracy: 0.8063
Epoch 52/100
804/804 [==============================] - 1s 987us/step - loss: 0.4060 - accuracy: 0.8047
Epoch 53/100
804/804 [==============================] - 1s 996us/step - loss: 0.4054 - accuracy: 0.8054
Epoch 54/100
804/804 [==============================] - 1s 992us/step - loss: 0.4051 - accuracy: 0.8061
Epoch 55/100
804/804 [==============================] - 1s 994us/step - loss: 0.4048 - accuracy: 0.8064
Epoch 56/100
804/804 [==============================] - 1s 983us/step - loss: 0.4054 - accuracy: 0.8057
Epoch 57/100
804/804 [==============================] - 1s 971us/step - loss: 0.4050 - accuracy: 0.8062
Epoch 58/100
804/804 [==============================] - 1s 983us/step - loss: 0.4048 - accuracy: 0.8056
Epoch 59/100
804/804 [==============================] - 1s 991us/step - loss: 0.4045 - accuracy: 0.8068
Epoch 60/100
804/804 [==============================] - 1s 986us/step - loss: 0.4041 - accuracy: 0.8057
Epoch 61/100
804/804 [==============================] - 1s 991us/step - loss: 0.4047 - accuracy: 0.8064
Epoch 62/100
804/804 [==============================] - 1s 999us/step - loss: 0.4037 - accuracy: 0.8063
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4042 - accuracy: 0.8064
Epoch 64/100
804/804 [==============================] - 1s 995us/step - loss: 0.4034 - accuracy: 0.8059
Epoch 65/100
804/804 [==============================] - 1s 982us/step - loss: 0.4039 - accuracy: 0.8073
Epoch 66/100
804/804 [==============================] - 1s 992us/step - loss: 0.4037 - accuracy: 0.8073
Epoch 67/100
804/804 [==============================] - 1s 996us/step - loss: 0.4032 - accuracy: 0.8057
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4033 - accuracy: 0.8070
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4034 - accuracy: 0.8070
Epoch 70/100
804/804 [==============================] - 1s 992us/step - loss: 0.4035 - accuracy: 0.8067
Epoch 71/100
804/804 [==============================] - 1s 993us/step - loss: 0.4030 - accuracy: 0.8068
Epoch 72/100
804/804 [==============================] - 1s 977us/step - loss: 0.4029 - accuracy: 0.8065
Epoch 73/100
804/804 [==============================] - 1s 983us/step - loss: 0.4029 - accuracy: 0.8057
Epoch 74/100
804/804 [==============================] - 1s 989us/step - loss: 0.4025 - accuracy: 0.8062
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4024 - accuracy: 0.8071
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4028 - accuracy: 0.8063
Epoch 77/100
804/804 [==============================] - 1s 994us/step - loss: 0.4027 - accuracy: 0.8068
Epoch 78/100
804/804 [==============================] - 1s 999us/step - loss: 0.4026 - accuracy: 0.8078
Epoch 79/100
804/804 [==============================] - 1s 990us/step - loss: 0.4024 - accuracy: 0.8075

Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4025 - accuracy: 0.8073
Epoch 81/100
804/804 [==============================] - 1s 973us/step - loss: 0.4017 - accuracy: 0.8074
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4022 - accuracy: 0.8072
Epoch 83/100
804/804 [==============================] - 1s 992us/step - loss: 0.4018 - accuracy: 0.8070
Epoch 84/100
804/804 [==============================] - 1s 992us/step - loss: 0.4020 - accuracy: 0.8077
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4019 - accuracy: 0.8082
Epoch 86/100
804/804 [==============================] - 1s 988us/step - loss: 0.4016 - accuracy: 0.8075
Epoch 87/100
804/804 [==============================] - 1s 985us/step - loss: 0.4017 - accuracy: 0.8071
Epoch 88/100
804/804 [==============================] - 1s 993us/step - loss: 0.4018 - accuracy: 0.8076
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4015 - accuracy: 0.8071
Epoch 90/100
804/804 [==============================] - 1s 979us/step - loss: 0.4017 - accuracy: 0.8082
Epoch 91/100
804/804 [==============================] - 1s 982us/step - loss: 0.4015 - accuracy: 0.8073
Epoch 92/100
804/804 [==============================] - 1s 997us/step - loss: 0.4020 - accuracy: 0.8077
Epoch 93/100
804/804 [==============================] - 1s 1000us/step - loss: 0.4014 - accuracy: 0.8078
Epoch 94/100
804/804 [==============================] - 1s 985us/step - loss: 0.4023 - accuracy: 0.8074
Epoch 95/100
804/804 [==============================] - 1s 984us/step - loss: 0.4026 - accuracy: 0.8076
Epoch 96/100
804/804 [==============================] - 1s 995us/step - loss: 0.4016 - accuracy: 0.8078
Epoch 97/100
804/804 [==============================] - 1s 993us/step - loss: 0.4017 - accuracy: 0.8071
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4009 - accuracy: 0.8078
Epoch 99/100
804/804 [==============================] - 1s 986us/step - loss: 0.4009 - accuracy: 0.8080
Epoch 100/100
804/804 [==============================] - 1s 988us/step - loss: 0.4009 - accuracy: 0.8071

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4600 - accuracy: 0.7915 - 261ms/epoch - 972us/step
Loss: 0.46002718806266785, Accuracy: 0.7914868593215942

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

In [23]:
from sklearn.ensemble import RandomForestClassifier
classifierRF = RandomForestClassifier(n_estimators=128, random_state=80) 
classifierRF.fit(X_train_scaled, y_train)

print(f"Random Forest testing Data Score: {classifierRF.score(X_test_scaled, y_test)}")

Random Forest testing Data Score: 0.7798250728862973

In [24]:
# Train the Logistic Regression model on the scaled data and print the model score
from sklearn.linear_model import LogisticRegression
classifierLR = LogisticRegression(solver='lbfgs', max_iter=1000)
classifierLR.fit(X_train_scaled, y_train)

print(f"Logistic Regression testing Data Score: {classifierLR.score(X_test_scaled, y_test)}")

Logistic Regression testing Data Score: 0.7910204081632654